<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderZap</title>
</head>
<body>

    <h1>Bem vindo ao chat em tempo real da coderhouse</h1>
    <div>
        <input type="text" placeholder="Digite sua mensagem"> 
    </div>
    <div id="mensagensLogs"> </div>
</body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="../public/js/index.js"></script>
</html>